<?xml version="1.0" encoding="utf-8" ?>
<yahooCsvQueries>
  <tags>
    <add name="a"	description="Ask" enabled="true" />
    <add name="a2" description="Average Daily Volume" enabled="false" />
    <add name="a5" description="Ask Size" enabled="false" />
    <add name="b"	description="Bid" enabled="true" />
    <add name="b2" description="Ask (Real-time)" enabled="false" />
    <add name="b3" description="Bid (Real-time)" enabled="false" />
    <add name="b4" description="Book Value" enabled="false" />
    <add name="b6" description="Bid Size" enabled="false" />
    <add name="c"	description="Change &amp; Percent Change" enabled="false" />
    <add name="c1" description="Change" enabled="true" />
    <add name="c3" description="Commission" enabled="false" />    
    <add name="c6" description="Change (Real-time)" enabled="false" />
    <add name="c8" description="After Hours Change (Real-time)" enabled="false" />
    <add name="d"	description="Dividend/Share" enabled="false" />
    <add name="d1" description="Last Trade Date" enabled="false" />
    <add name="d2" description="Trade Date" enabled="true" />
    <add name="e"	description="Earnings/Share" enabled="false" />
    <add name="e1" description="Error Indication (returned for symbol changed / invalid)" enabled="false" />
    <add name="e7" description="EPS Estimate Current Year" enabled="false" />
    <add name="e8" description="EPS Estimate Next Year" enabled="false" />
    <add name="e9" description="EPS Estimate Next Quarter" enabled="false" />
    <add name="f6" description="Float Shares" enabled="false" />
    <add name="g"	description="Day's Low" enabled="false" />
    <add name="h"	description="Day's High" enabled="false" />
    <add name="j"	description="52-week Low" enabled="false" />
    <add name="k"	description="52-week High" enabled="false" />
    <add name="g1" description="Holdings Gain Percent" enabled="false" />
    <add name="g3" description="Annualized Gain" enabled="false" />
    <add name="g4" description="Holdings Gain" enabled="false" />
    <add name="g5" description="Holdings Gain Percent (Real-time)" enabled="false" />
    <add name="g6" description="Holdings Gain (Real-time)" enabled="false" />
    <add name="i"	description="More Info" enabled="false" />
    <add name="i5" description="Order Book (Real-time)" enabled="false" />
    <add name="j1" description="Market Capitalization" enabled="false" />
    <add name="j3" description="Market Cap (Real-time)" enabled="false" />
    <add name="j4" description="EBITDA" enabled="false" />
    <add name="j5" description="Change From 52-week Low" enabled="false" />
    <add name="j6" description="Percent Change From 52-week Low" enabled="false" /> 
    <add name="k1" description="Last Trade (Real-time) With Time" enabled="false" />
    <add name="k2" description="Change Percent (Real-time)" enabled="false" />
    <add name="k3" description="Last Trade Size" enabled="false" /> 
    <add name="k4" description="Change From 52-week High" enabled="false" />
    <add name="k5" description="Percebt Change From 52-week High" enabled="false" /> 
    <add name="l" description="Last Trade (With Time)" enabled="false" />
    <add name="l1" description="Last Trade (Price Only)" enabled="false" />
    <add name="l2" description="High Limit" enabled="false" />
    <add name="l3" description="Low Limit" enabled="false" />
    <add name="m" description="Day's Range" enabled="false" />
    <add name="m2" description="Day's Range (Real-time)" enabled="false" />	 
    <add name="m3" description="50-day Moving Average" enabled="false" /> 
    <add name="m4" description="200-day Moving Average" enabled="false" />
    <add name="m5" description="Change From 200-day Moving Average" enabled="false" />	 
    <add name="m6" description="Percent Change From 200-day Moving Average" enabled="false" /> 
    <add name="m7" description="Change From 50-day Moving Average" enabled="false" />
    <add name="m8" description="Percent Change From 50-day Moving Average" enabled="false" />	 
    <add name="n" description="Name" enabled="false" />
    <add name="n4" description="Notes" enabled="false" />
    <add name="o" description="Open" enabled="false" />
    <add name="p" description="Previous Close" enabled="false" />
    <add name="p1" description="Price Paid" enabled="false" />
    <add name="p2" description="Change in Percent" enabled="false" /> 
    <add name="p5" description="Price/Sales" enabled="false" />
    <add name="p6" description="Price/Book" enabled="false" />
    <add name="q" description="Ex-Dividend Date" enabled="false" />
    <add name="r" description="P/E Ratio" enabled="false" />
    <add name="r1" description="Dividend Pay Date" enabled="false" />
    <add name="r2" description="P/E Ratio (Real-time)" enabled="false" />
    <add name="r5" description="PEG Ratio" enabled="false" />
    <add name="r6" description="Price/EPS Estimate Current Year" enabled="false" />
    <add name="r7" description="Price/EPS Estimate Next Year" enabled="false" />
    <add name="s" description="Symbol" enabled="true" />
    <add name="s1" description="Shares Owned" enabled="false" />
    <add name="s7"	description="Short Ratio" enabled="false" />
    <add name="t1"	description="Last Trade Time" enabled="false" />
    <add name="t6"	description="Trade Links" enabled="false" />
    <add name="t7"	description="Ticker Trend" enabled="false" />
    <add name="t8"	description="1 yr Target Price" enabled="false" />
    <add name="v"	description="Volume" enabled="false" />
    <add name="v1" description="Holdings Value" enabled="false" />
    <add name="v7" description="Holdings Value (Real-time)" enabled="false" />
    <add name="w"	description="52-week Range" enabled="false" />
    <add name="w1" description="Day's Value Change" enabled="false" />
    <add name="w4" description="Day's Value Change (Real-time)" enabled="false" />
    <add name="x"	description="Stock Exchange" enabled="false" />
    <add name="y"	description="Dividend Yield" enabled="false" />
  </tags>
</yahooCsvQueries>