<assemblyConfiguration>
  <settings>
    <setting name="PennyPicksFeedName" value="PennyPicksGmailFeed" />
    <setting name="PennyPicksStockDataProviderName" value="Yahoo" />
  </settings>
  <registrations>
    <registration type="AutoTrade.MarketData.EmailAlerts.IEmailAlertsAppSettings, AutoTrade.MarketData.EmailAlerts"
                  mapTo="AutoTrade.MarketData.EmailAlerts.EmailAlertsAppSettings, AutoTrade.MarketData.EmailAlerts"
                  lifetime="singleton" />
    <registration type="AutoTrade.MarketData.EmailAlerts.IEmailFeedFactory, AutoTrade.MarketData.EmailAlerts"
                  mapTo="AutoTrade.MarketData.EmailAlerts.EmailFeedFactory, AutoTrade.MarketData.EmailAlerts"
                  lifetime="singleton" />
    <registration type="AutoTrade.MarketData.EmailAlerts.IEmailStockParser, AutoTrade.MarketData.EmailAlerts"
                  mapTo="AutoTrade.MarketData.EmailAlerts.PennyPicks.PennyPicksEmailStockParser, AutoTrade.MarketData.EmailAlerts"
                  lifetime="instance"
                  name="PennyPicksStockParser"/>
    <registration type="AutoTrade.MarketData.IStockListProvider, AutoTrade.MarketData"
                  mapTo="AutoTrade.MarketData.EmailAlerts.PennyPicks.PennyPicksEmailStockProvider, AutoTrade.MarketData.EmailAlerts"
                  lifetime="instance"
                  name="PennyPicksEmailStockProvider"/>
  </registrations>
  
</assemblyConfiguration>