<serviceConfig>
  <sharedDataContext>
    <assembly fullName="MediaVF.Services.Entities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <dataContext>
      <connectionString name="MediaVF" providerName="MediaVF" connectionString="Data Source=EVAN-PC\SQLEXPRESS; Initial Catalog=MediaVF; User ID=MediaVFServiceUser; Password=asmodean36;" />
      <typeMappings>

        <dataTypeMapping
          objectType="MediaVF.Common.Entities.Artist, MediaVF.Common.Entities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
          tableName="Artist" />

        <dataTypeMapping
          objectType="MediaVF.Common.Entities.User, MediaVF.Common.Entities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
          tableName="Users" />

      </typeMappings>
    </dataContext>
  </sharedDataContext>

  <serviceComponents>
    <!-- serviceConfigurationPlaceHolder -->
  </serviceComponents>

</serviceConfig>