<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="serviceConfig" type="MediaVF.Services.Configuration.ServiceConfigSection, MediaVF.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="facebookConfig" type="MediaVF.Common.Configuration.Facebook.FacebookSection, MediaVF.Common.Facebook, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <appSettings>
    <add key="ApplicationID" value="2" />
    <add key="ServiceName" value="ArtistTrackService" />
    <add key="PortNumber" value="3636" />
  </appSettings>

  <serviceConfig configSource="Service.config" />

  <facebookConfig applicationID="137102866376097"
                  applicationSecret="57e98fd2bc3d67f106ce3368c5172b09"
                  authorizationUrl="https://www.facebook.com/dialog/oauth"
                  accessTokenUrl="https://graph.facebook.com/oauth/access_token"
                  redirectUrl="http://localhost:50470/FacebookAuthorized.aspx"
                  scope="user_about_me,offline_access" />

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="debugBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="MediaVF.Web.ArtistTrack.Server.ArtistTrackService" behaviorConfiguration="debugBehavior">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="" binding="basicHttpBinding" contract="MediaVF.Common.Communication.Invocation.IInvocableService" />
        <endpoint address="/Configuration" binding="basicHttpBinding" contract="MediaVF.Common.Communication.Configuration.IConfigurationService" />
      </service>
    </services>
  </system.serviceModel>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
