<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="ImapX" version="2.0.0.9" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="S22.Imap" version="3.2.4813.36815" targetFramework="net45" />
  <package id="Unity" version="3.0.1304.0" targetFramework="net45" />
</packages>