<serviceComponent
    componentType="MediaVF.Web.BandedTogether.Server.Admin.AdminServiceComponent, MediaVF.Web.BandedTogether.Server.Admin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
  <settings>
    <add key="PortNumber" value="53311" />
    <add key="PasswordServerKey" value="2b8bb4d4-f53b-4760-906a-a0bd1f33aced" />
  </settings>
  <dataContexts>
    <dataContext>
      <connectionString name="MediaVF" connectionString="Data Source=EVAN-PC\SQLEXPRESS; Initial Catalog=MediaVF; User ID=MediaVFServiceUser; Password=asmodean36;" />
      <typeMappings>
        
        <dataTypeMapping objectType="MediaVF.Common.Entities.User, MediaVF.Common.Entities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                         tableName="User" cacheData="true" />
      </typeMappings>
    </dataContext>
  </dataContexts>
</serviceComponent>