<assemblyConfiguration>
  <settings>
    <setting name="YqlEndpoint" value="http://query.yahooapis.com/v1/public/yql?q={0}&amp;env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys" />
    <setting name="YqlIncludeDiagnostics" value="true" />
    <setting name="YqlMultiStockQuoteSelect" value="select * from yahoo.finance.quotes where symbol in ({0})" />
    <setting name="CsvEndpoint" value="http://finance.yahoo.com/d/quotes.csv?s={0}&amp;f={1}" />
  </settings>
  <registrations>
    <registration type="AutoTrade.MarketData.Yahoo.IYahooMarketDataSettings, AutoTrade.MarketData.Yahoo"
                  mapTo="AutoTrade.MarketData.Yahoo.YahooMarketDataAppSettings, AutoTrade.MarketData.Yahoo"
                  lifetime="instance" />

    <registration type="AutoTrade.MarketData.Yahoo.Yql.IYqlPropertyMapperFactory, AutoTrade.MarketData.Yahoo"
                  mapTo="AutoTrade.MarketData.Yahoo.Yql.YqlPropertyMapperFactory, AutoTrade.MarketData.Yahoo"
                  lifetime="instance" />
    <registration type="AutoTrade.MarketData.Yahoo.Yql.IYqlQueryProvider, AutoTrade.MarketData.Yahoo"
                  mapTo="AutoTrade.MarketData.Yahoo.Yql.YqlQueryProvider, AutoTrade.MarketData.Yahoo"
                  lifetime="instance" />
    <registration type="AutoTrade.MarketData.Yahoo.Yql.IYqlUrlProvider, AutoTrade.MarketData.Yahoo"
                  mapTo="AutoTrade.MarketData.Yahoo.Yql.YqlUrlProvider, AutoTrade.MarketData.Yahoo"
                  lifetime="instance" />
    <registration type="AutoTrade.MarketData.Yahoo.Yql.IYqlResultTranslator, AutoTrade.MarketData.Yahoo"
                  mapTo="AutoTrade.MarketData.Yahoo.Yql.YqlResultTranslator, AutoTrade.MarketData.Yahoo"
                  lifetime="instance" />
    <registration name="YqlMarketDataProvider"
                  type="AutoTrade.MarketData.Yahoo.IYahooMarketDataProvider, AutoTrade.MarketData.Yahoo"
                  mapTo="AutoTrade.MarketData.Yahoo.Yql.YqlMarketDataProvider, AutoTrade.MarketData.Yahoo"
                  lifetime="instance" />
      
    <registration type="AutoTrade.MarketData.Yahoo.Csv.ICsvColumnProviderFactory, AutoTrade.MarketData.Yahoo"
                  mapTo="AutoTrade.MarketData.Yahoo.Csv.CsvColumnProviderFactory, AutoTrade.MarketData.Yahoo"
                  lifetime="instance" />
    <registration type="AutoTrade.MarketData.Yahoo.Csv.ICsvUrlProvider, AutoTrade.MarketData.Yahoo"
                  mapTo="AutoTrade.MarketData.Yahoo.Csv.CsvUrlProvider, AutoTrade.MarketData.Yahoo"
                  lifetime="instance" />
    <registration type="AutoTrade.MarketData.Yahoo.Csv.ICsvResultTranslator, AutoTrade.MarketData.Yahoo"
                  mapTo="AutoTrade.MarketData.Yahoo.Csv.CsvResultTranslator, AutoTrade.MarketData.Yahoo"
                  lifetime="instance" />
    <registration name="CsvMarketDataProvider"
                  type="AutoTrade.MarketData.Yahoo.IYahooMarketDataProvider, AutoTrade.MarketData.Yahoo"
                  mapTo="AutoTrade.MarketData.Yahoo.Csv.CsvMarketDataProvider, AutoTrade.MarketData.Yahoo"
                  lifetime="instance" />
    <registration type="System.Collections.Generic.IEnumerable`1[[AutoTrade.MarketData.Yahoo.IYahooMarketDataProvider, AutoTrade.MarketData.Yahoo]], mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                  mapTo="AutoTrade.MarketData.Yahoo.IYahooMarketDataProvider[], AutoTrade.MarketData.Yahoo"
                  lifetime="singleton" />

    <registration name="YahooMarketDataProvider"
                  type="AutoTrade.MarketData.IMarketDataProvider, AutoTrade.MarketData"
                  mapTo="AutoTrade.MarketData.Yahoo.YahooMarketDataProvider, AutoTrade.MarketData.Yahoo"
                  lifetime="instance" />
  </registrations>
  
  <yahooCsvQueries type="AutoTrade.MarketData.Yahoo.Csv.Configuration.CsvQueryConfigurationSection, AutoTrade.MarketData.Yahoo">
    <columns>
      <column tag="a"	description="Ask" enabled="false" />
      <column tag="a2" description="Average Daily Volume" enabled="false" />
      <column tag="a5" description="Ask Size" enabled="false" />
      <column tag="b"	description="Bid" enabled="false" />
      <column tag="b2" description="Ask (Real-time)" mappedProperty="AskPrice" enabled="true" />
      <column tag="b3" description="Bid (Real-time)" mappedProperty="BidPrice" enabled="true" />
      <column tag="b4" description="Book Value" enabled="false" />
      <column tag="b6" description="Bid Size" enabled="false" />
      <column tag="c"	description="Change &amp; Percent Change" enabled="false" />
      <column tag="c1" description="Change" mappedProperty="Change" enabled="true" />
      <column tag="c3" description="Commission" enabled="false" />
      <column tag="c6" description="Change (Real-time)" enabled="false" />
      <column tag="c8" description="After Hours Change (Real-time)" enabled="false" />
      <column tag="d"	description="Dividend/Share" enabled="false" />
      <column tag="d1" description="Last Trade Date" enabled="false" />
      <column tag="d2" description="Trade Date" enabled="true" />
      <column tag="e"	description="Earnings/Share" enabled="false" />
      <column tag="e1" description="Error Indication (returned for symbol changed / invalid)" enabled="false" />
      <column tag="e7" description="EPS Estimate Current Year" enabled="false" />
      <column tag="e8" description="EPS Estimate Next Year" enabled="false" />
      <column tag="e9" description="EPS Estimate Next Quarter" enabled="false" />
      <column tag="f6" description="Float Shares" enabled="false" />
      <column tag="g"	description="Day's Low" enabled="false" />
      <column tag="h"	description="Day's High" enabled="false" />
      <column tag="j"	description="52-week Low" enabled="false" />
      <column tag="k"	description="52-week High" enabled="false" />
      <column tag="g1" description="Holdings Gain Percent" enabled="false" />
      <column tag="g3" description="Annualized Gain" enabled="false" />
      <column tag="g4" description="Holdings Gain" enabled="false" />
      <column tag="g5" description="Holdings Gain Percent (Real-time)" enabled="false" />
      <column tag="g6" description="Holdings Gain (Real-time)" enabled="false" />
      <column tag="i"	description="More Info" enabled="false" />
      <column tag="i5" description="Order Book (Real-time)" enabled="false" />
      <column tag="j1" description="Market Capitalization" enabled="false" />
      <column tag="j3" description="Market Cap (Real-time)" enabled="false" />
      <column tag="j4" description="EBITDA" enabled="false" />
      <column tag="j5" description="Change From 52-week Low" enabled="false" />
      <column tag="j6" description="Percent Change From 52-week Low" enabled="false" />
      <column tag="k1" description="Last Trade (Real-time) With Time" enabled="false" />
      <column tag="k2" description="Change Percent (Real-time)" enabled="false" />
      <column tag="k3" description="Last Trade Size" enabled="false" />
      <column tag="k4" description="Change From 52-week High" enabled="false" />
      <column tag="k5" description="Percebt Change From 52-week High" enabled="false" />
      <column tag="l" description="Last Trade (With Time)" enabled="false" />
      <column tag="l1" description="Last Trade (Price Only)" enabled="false" />
      <column tag="l2" description="High Limit" enabled="false" />
      <column tag="l3" description="Low Limit" enabled="false" />
      <column tag="m" description="Day's Range" enabled="false" />
      <column tag="m2" description="Day's Range (Real-time)" enabled="false" />
      <column tag="m3" description="50-day Moving Average" enabled="false" />
      <column tag="m4" description="200-day Moving Average" enabled="false" />
      <column tag="m5" description="Change From 200-day Moving Average" enabled="false" />
      <column tag="m6" description="Percent Change From 200-day Moving Average" enabled="false" />
      <column tag="m7" description="Change From 50-day Moving Average" enabled="false" />
      <column tag="m8" description="Percent Change From 50-day Moving Average" enabled="false" />
      <column tag="n" description="Name" enabled="false" />
      <column tag="n4" description="Notes" enabled="false" />
      <column tag="o" description="Open" enabled="true" mappedProperty="OpenPrice" />
      <column tag="p" description="Previous Close" enabled="false" />
      <column tag="p1" description="Price Paid" enabled="false" />
      <column tag="p2" description="Change in Percent" enabled="false" />
      <column tag="p5" description="Price/Sales" enabled="false" />
      <column tag="p6" description="Price/Book" enabled="false" />
      <column tag="q" description="Ex-Dividend Date" enabled="false" />
      <column tag="r" description="P/E Ratio" enabled="false" />
      <column tag="r1" description="Dividend Pay Date" enabled="false" />
      <column tag="r2" description="P/E Ratio (Real-time)" enabled="false" />
      <column tag="r5" description="PEG Ratio" enabled="false" />
      <column tag="r6" description="Price/EPS Estimate Current Year" enabled="false" />
      <column tag="r7" description="Price/EPS Estimate Next Year" enabled="false" />
      <column tag="s" description="Symbol" mappedProperty="Symbol" enabled="true" />
      <column tag="s1" description="Shares Owned" enabled="false" />
      <column tag="s7"	description="Short Ratio" enabled="false" />
      <column tag="t1"	description="Last Trade Time" enabled="false" />
      <column tag="t6"	description="Trade Links" enabled="false" />
      <column tag="t7"	description="Ticker Trend" enabled="false" />
      <column tag="t8"	description="1 yr Target Price" enabled="false" />
      <column tag="v"	description="Volume" enabled="false" />
      <column tag="v1" description="Holdings Value" enabled="false" />
      <column tag="v7" description="Holdings Value (Real-time)" enabled="false" />
      <column tag="w"	description="52-week Range" enabled="false" />
      <column tag="w1" description="Day's Value Change" enabled="false" />
      <column tag="w4" description="Day's Value Change (Real-time)" enabled="false" />
      <column tag="x"	description="Stock Exchange" enabled="false" />
      <column tag="y"	description="Dividend Yield" enabled="false" />
    </columns>
  </yahooCsvQueries>

  <yahooYqlQueries type="AutoTrade.MarketData.Yahoo.Yql.Configuration.YqlQueryConfigurationSection, AutoTrade.MarketData.Yahoo">
    <propertyMappings type="AutoTrade.MarketData.Data.StockQuote, AutoTrade.MarketData.Data">
      <propertyMapping xmlElementName="Ask" propertyName="AskPrice" enabled="true" />
      <propertyMapping xmlElementName="Bid" propertyName="BidPrice" enabled="true" />
      <propertyMapping xmlElementName="Change" propertyName="Change" enabled="true" />
      <propertyMapping xmlElementName="OpenPrice" propertyName="OpenPrice" enabled="true" />
      <propertyMapping xmlElementName="LastTradePriceOnly" propertyName="LastTradePrice" enabled="true" />
    </propertyMappings>
    <propertyMappings type="AutoTrade.Core.StockData.StockData, AutoTrade.MarketData.Core.StockData">
      <propertyMapping xmlElementName="CompanyName" propertyName="CompanyName" enabled="true" />
      <propertyMapping xmlElementName="Sector" propertyName="Sector" enabled="true" />
      <propertyMapping xmlElementName="Industry" propertyName="Industry" enabled="true" />
    </propertyMappings>
  </yahooYqlQueries>
  
</assemblyConfiguration>