<?xml version="1.0" encoding="utf-8" ?>
<yahooCsvQueries>
  <tags>
    <add tag="a"	description="Ask" enabled="true" />
    <add tag="a2" description="Average Daily Volume" enabled="false" />
    <add tag="a5" description="Ask Size" enabled="false" />
    <add tag="b"	description="Bid" enabled="true" />
    <add tag="b2" description="Ask (Real-time)" enabled="false" />
    <add tag="b3" description="Bid (Real-time)" enabled="false" />
    <add tag="b4" description="Book Value" enabled="false" />
    <add tag="b6" description="Bid Size" enabled="false" />
    <add tag="c"	description="Change &amp; Percent Change" enabled="false" />
    <add tag="c1" description="Change" enabled="true" />
    <add tag="c3" description="Commission" enabled="false" />    
    <add tag="c6" description="Change (Real-time)" enabled="false" />
    <add tag="c8" description="After Hours Change (Real-time)" enabled="false" />
    <add tag="d"	description="Dividend/Share" enabled="false" />
    <add tag="d1" description="Last Trade Date" enabled="false" />
    <add tag="d2" description="Trade Date" enabled="true" />
    <add tag="e"	description="Earnings/Share" enabled="false" />
    <add tag="e1" description="Error Indication (returned for symbol changed / invalid)" enabled="false" />
    <add tag="e7" description="EPS Estimate Current Year" enabled="false" />
    <add tag="e8" description="EPS Estimate Next Year" enabled="false" />
    <add tag="e9" description="EPS Estimate Next Quarter" enabled="false" />
    <add tag="f6" description="Float Shares" enabled="false" />
    <add tag="g"	description="Day's Low" enabled="false" />
    <add tag="h"	description="Day's High" enabled="false" />
    <add tag="j"	description="52-week Low" enabled="false" />
    <add tag="k"	description="52-week High" enabled="false" />
    <add tag="g1" description="Holdings Gain Percent" enabled="false" />
    <add tag="g3" description="Annualized Gain" enabled="false" />
    <add tag="g4" description="Holdings Gain" enabled="false" />
    <add tag="g5" description="Holdings Gain Percent (Real-time)" enabled="false" />
    <add tag="g6" description="Holdings Gain (Real-time)" enabled="false" />
    <add tag="i"	description="More Info" enabled="false" />
    <add tag="i5" description="Order Book (Real-time)" enabled="false" />
    <add tag="j1" description="Market Capitalization" enabled="false" />
    <add tag="j3" description="Market Cap (Real-time)" enabled="false" />
    <add tag="j4" description="EBITDA" enabled="false" />
    <add tag="j5" description="Change From 52-week Low" enabled="false" />
    <add tag="j6" description="Percent Change From 52-week Low" enabled="false" /> 
    <add tag="k1" description="Last Trade (Real-time) With Time" enabled="false" />
    <add tag="k2" description="Change Percent (Real-time)" enabled="false" />
    <add tag="k3" description="Last Trade Size" enabled="false" /> 
    <add tag="k4" description="Change From 52-week High" enabled="false" />
    <add tag="k5" description="Percebt Change From 52-week High" enabled="false" /> 
    <add tag="l" description="Last Trade (With Time)" enabled="false" />
    <add tag="l1" description="Last Trade (Price Only)" enabled="false" />
    <add tag="l2" description="High Limit" enabled="false" />
    <add tag="l3" description="Low Limit" enabled="false" />
    <add tag="m" description="Day's Range" enabled="false" />
    <add tag="m2" description="Day's Range (Real-time)" enabled="false" />	 
    <add tag="m3" description="50-day Moving Average" enabled="false" /> 
    <add tag="m4" description="200-day Moving Average" enabled="false" />
    <add tag="m5" description="Change From 200-day Moving Average" enabled="false" />	 
    <add tag="m6" description="Percent Change From 200-day Moving Average" enabled="false" /> 
    <add tag="m7" description="Change From 50-day Moving Average" enabled="false" />
    <add tag="m8" description="Percent Change From 50-day Moving Average" enabled="false" />	 
    <add tag="n" description="Name" enabled="false" />
    <add tag="n4" description="Notes" enabled="false" />
    <add tag="o" description="Open" enabled="false" />
    <add tag="p" description="Previous Close" enabled="false" />
    <add tag="p1" description="Price Paid" enabled="false" />
    <add tag="p2" description="Change in Percent" enabled="false" /> 
    <add tag="p5" description="Price/Sales" enabled="false" />
    <add tag="p6" description="Price/Book" enabled="false" />
    <add tag="q" description="Ex-Dividend Date" enabled="false" />
    <add tag="r" description="P/E Ratio" enabled="false" />
    <add tag="r1" description="Dividend Pay Date" enabled="false" />
    <add tag="r2" description="P/E Ratio (Real-time)" enabled="false" />
    <add tag="r5" description="PEG Ratio" enabled="false" />
    <add tag="r6" description="Price/EPS Estimate Current Year" enabled="false" />
    <add tag="r7" description="Price/EPS Estimate Next Year" enabled="false" />
    <add tag="s" description="Symbol" enabled="true" />
    <add tag="s1" description="Shares Owned" enabled="false" />
    <add tag="s7"	description="Short Ratio" enabled="false" />
    <add tag="t1"	description="Last Trade Time" enabled="false" />
    <add tag="t6"	description="Trade Links" enabled="false" />
    <add tag="t7"	description="Ticker Trend" enabled="false" />
    <add tag="t8"	description="1 yr Target Price" enabled="false" />
    <add tag="v"	description="Volume" enabled="false" />
    <add tag="v1" description="Holdings Value" enabled="false" />
    <add tag="v7" description="Holdings Value (Real-time)" enabled="false" />
    <add tag="w"	description="52-week Range" enabled="false" />
    <add tag="w1" description="Day's Value Change" enabled="false" />
    <add tag="w4" description="Day's Value Change (Real-time)" enabled="false" />
    <add tag="x"	description="Stock Exchange" enabled="false" />
    <add tag="y"	description="Dividend Yield" enabled="false" />
  </tags>
</yahooCsvQueries>