<assemblyConfiguration>
  <settings>
    <setting name="PennyPicksFeedName" value="PennyPicks" />
  </settings>
  <registrations>
    <!--<registration type="AutoTrade.MarketData.Yahoo.IYahooMarketDataSettings, AutoTrade.MarketData.Yahoo"
                  mapTo="AutoTrade.MarketData.Yahoo.YahooMarketDataAppSettings, AutoTrade.MarketData.Yahoo"
                  lifetime="instance" />-->
  </registrations>
  
</assemblyConfiguration>