<serviceComponent
    componentType="MediaVF.Web.BandedTogether.Server.Bands.BandsServiceComponent, MediaVF.Web.BandedTogether.Server.Bands, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">

  <dataContexts>
    <dataContext>
      <connectionString name="MediaVF" connectionString="Data Source=EVAN-PC\SQLEXPRESS; Initial Catalog=MediaVF; User ID=MediaVFServiceUser; Password=asmodean36;" />
      <typeMappings>

        <dataTypeMapping objectType="MediaVF.Common.Entities.Band, MediaVF.Common.Entities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                         tableName="Band">
          
          <childTableMappings>
            <childTableMapping objectType="MediaVF.Common.Entities.Label, MediaVF.Common.Entities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                                  tableName="Label"
                                  linkedColumnOnParent="LabelID"
                                  linkedColumnOnChild="ID"
                                  linkedPropertyOnParent="Label" />
            
            <childTableMapping objectType="MediaVF.Common.Entities.BandGenre, MediaVF.Common.Entities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                                  tableName="BandGenre"
                                  linkedColumnOnParent="BandID"
                                  linkedColumnOnChild="BandID"
                                  linkedPropertyOnParent="Genres">
              <childTableMappings>
                <childTableMapping objectType="MediaVF.Common.Entities.Genre, MediaVF.Common.Entities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                                      tableName="Genre"
                                      linkedColumnOnParent="GenreID"
                                      linkedColumnOnChild="ID"
                                      linkedPropertyOnParent="Genre" />
              </childTableMappings>
            </childTableMapping>
            
          </childTableMappings>
          
        </dataTypeMapping>

        <dataTypeMapping objectType="MediaVF.Common.Entities.User, MediaVF.Common.Entities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                         tableName="User" />

        <dataTypeMapping objectType="MediaVF.Common.Entities.UserBand, MediaVF.Common.Entities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                         tableName="UserBand" />
        
      </typeMappings>

      <storedProcs>
        
        <storedProc name="GetBandsByUserID" objectType="MediaVF.Common.Entities.Band, MediaVF.Common.Entities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
          <parameter name="@UserID" type="System.Int32" />
        </storedProc>
        
      </storedProcs>
      
    </dataContext>
  </dataContexts>
</serviceComponent>