<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="MarketDataRepository" connectionString="metadata=res://*/MarketDataRepository.csdl|res://*/MarketDataRepository.ssdl|res://*/MarketDataRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EVAN-PC;initial catalog=AutoTrade.MarketData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>